/* Add application styles & imports to this file! */
* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  background:  #5c8a8a;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background:  #b3cccc;
}

.header h1 {
  font-size: 50px;
}


/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #5c8a8a;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color:  white;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color:  #b3cccc;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background:  #b3cccc;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
#navbar {
  z-index: 10;
  overflow: hidden;
  background-color: rgb(106, 151, 151);
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 35px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: rgb(160, 204, 204);
  color: black;
}

#navbar a.active {
  background-color: rgb(113, 175, 175);
  color: black;
}

.content {
  padding: 20px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
.box {
  width: 315px;
  padding: auto;
  text-align: center;
  margin: auto;
  margin-top: 5%;
}

